@page "/"

<PageTitle>Index</PageTitle>

<h1>SISTEMA PARA LA GESTIÓN DE SEGUROS</h1>


<h3>Instrucciones</h3>
<p>Al ingresar un titular le pedira que ingrese un vehiculo para asignarle y luego una poliza para tal vehiculo.</p>
<p>La aplicación fue pensada para que no haya ninguna entidad que no este relacionada de alguna forma con un titular existente</p>
<br>
<h4>Botones</h4>
<p><button class="btn btn-primary"><span class="oi oi-pencil"></span></button> sirve para editar la entidad.</p>
<p><button class="btn btn-primary"><span class="oi oi-plus"></span></button> sirve para agregarle un vehiculo, siniestro o tercero, depende de la entidad.</p>
<p><button class="btn btn-primary"><span class="oi oi-loop"></span></button> sirve para cambiar la poliza del vehiculo (borra la anterior y genera una nueva).</p>
<p><button class="btn btn-danger"><span class="oi oi-trash"></span></button> sirve para borrar la entidad.</p>
<br>
<br>


