table.tabla-interna td[b-3d7216s4iq], table.tabla-interna th[b-3d7216s4iq] {
    padding: 8px 8px;
  }

table td[b-3d7216s4iq], table th[b-3d7216s4iq]{
    text-align: center;
    vertical-align: auto;
}